@media only screen and (orientation:landscape) {
	body { -webkit-text-size-adjust:none; }
}

@media only screen and (orientation:portrait) {
	body { -webkit-text-size-adjust:none; }
}
@media screen and (max-width:1439px) {
	.search-layout .search-group .dropdown .btn { padding: 12px 30px 11px 10px;}
	.search-layout .search-group .dropdown-toggle::after { top: 17px;}
}
@media screen and (max-width:1200px) {
	.search-layout .search-group .dropdown .btn { padding: 9px 30px 9px 10px;}
	.search-layout .search-group .dropdown-toggle::after { top: 17px;}
}
@media screen and (max-width:1024px) {
	#header .logo { max-width: 82px;padding: 17px 6px 11px 6px;}
	#fullpage { overflow-x: hidden; }
	#footer {position: relative;text-align: center;}
	
	.homeBanner h2 {font-size: 32px;line-height: 42px;}
	.homeBanner h3 {font-size: 28px;line-height: 36px;}
	.homeBanner .bannertxt { padding-top: 160px;}
	.homeBanner .fp-slidesNav.fp-bottom {bottom: 20px;}
	.homeBanner .fp-slidesNav ul li {width: 33px;}
	.section .title { font-size: 35px; line-height: 32px; margin-bottom: 9px;}
	.botmlayout .box figure h3 {font-size: 12px;}
	.botmlayout .box figure h5 { font-size: 11px }
	.homeGetTouch .gridwrap { display: block;}
	.homeGetTouch .gridwrap .two-grid {display: block; width: 100%;}
	.homeGetTouch .secright .content-sec { padding:27px 0 15px; }
	.homeGetTouch .secright .botm-copyright { position: relative; padding: 12px 0;}
	.botmlayoutwrap { position: relative;}
	.homeGetTouch .secleft .img-grid ul li { width: 12.5%;}
	.homeVideo iframe {width: 100% !important; height: 330px !important}
	.homediscover .content-sec,.homecategory .content-sec,.homepdlist .content-sec { padding: 40px 0;}
	.homepdlist-tab .resp-tabs-container { margin-top: 0px;}
	.homeGetTouch .secright .content-sec .box-wrap {padding-bottom: 0;}
	.homeGetTouch .secright .botm-social ul li { margin: 5px;}
	.homeGetTouch .secright .botm-social ul { margin-bottom: 0 }
	.inner-page-wrap #footer { display: block }
	.homeGetTouch .secright .botm-logo {width: 110px;}
	.homeBanner .content-sec { padding-top: 100px;}
	#header .headerright { margin-top: 0px;}
	.carousel-inner,.carousel-item {height: 100%;}
	#footer ul.ft-social {text-align: center;}
	.homeBanner {padding-bottom: 12px;}
	/* .search-layout {width: 518px;} */
	.homepdlist-tab .resp-tabs-list li {font-size:15px; padding: 6px !important}
	.left-static {width: auto; left: 30px; top: 531px;}
	.homeGetTouch .secleft .img-grid {margin-top:0px}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-prev:hover {
	    width: 20px;
	    height: 20px;
	    background-size: 20px;
	}
	h1 {font-size: 1.5rem}
	.inner-layout .inner-content {
	    padding: 30px 0;
	    min-height: 150px;
	}
	.homeGetTouch .gridwrap {
		margin-top: -16px;
	}
}
@media screen and (max-width:768px) {
	h2.resp-accordion {font-size: 17px;padding: 10px 15px;background: #fff;font-weight: 500;}
	.homepdlist-tab .resp-tab-content {
	    padding: 9px 0;
	}
	.homeGetTouch .gridwrap {
		margin-top: -16px;
	}
}
@media screen and (max-width:767px) {
	#header {padding: 10px 0;background-color: rgba(0,0,0,0.7);}
	#header .logo { max-width: 77px; padding: 0; background: none; margin: 0;}
	.homeBanner h2 {font-size: 28px;line-height: 38px;}
	.homeBanner h3 {font-size: 24px;line-height: 34px;}
	.section .title { margin-bottom: 15px;}
	#header .headerright { padding-top: 55px; margin-top: 0px }
	.homeGetTouch .secright .botm-logo { width: 76px;}
	.homeGetTouch .secright .botm-social ul li a { width: 24px;height: 24px;background-size: 24px;}
	.homeGetTouch .secright .botm-social ul li.fb:hover a,.homeGetTouch .secright .botm-social ul li.twt:hover a,.homeGetTouch .secright .botm-social ul li.inst:hover a,.homeGetTouch .secright .botm-social ul li.linkd:hover a,.homeGetTouch .secright .botm-social ul li.utube:hover a { background-position: 0 -24px;}
	.homeGetTouch .secleft .img-grid ul li { width: 25%;}
	.search-layout { width: 95%;}
	.banner-container { padding-left: 20px; padding-right: 20px }
	.inner-layout .inner-content .pd-item-box figure .img-box {margin: 0 auto;}
	.product-item {margin-top: 30px}
	.product-listing-layout .aside-layout {margin-bottom: 20px}
	.comments-sec .comment-add-layout {margin-bottom: 20px}
	.register-block {border-left: none; margin-top: 20px}
	.login-block h2.title, .register-block h2.title { font-size: 1.5rem}
	.headerright { position: fixed; width: 100%; height: 100%; left: 0; right: 0; top: 0; z-index: 999; border:10px solid #fff; background-color: rgba(181,49,60,0.9); overflow: auto; opacity: 0; visibility: hidden; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s; }
	.headerright.menuopen {opacity: 1; visibility: visible;}
	.topsearch .topsearchlayout,.menusection .menulayout { position: relative; width:100%; height: 100%; display: table; vertical-align: middle; text-align: center; background-color: rgba(181,49,60,0.9);}
	.topsearch .topsearchlayout form, .menusection .menulayout nav { position: relative; display: table-cell;; vertical-align: middle; padding:0 3%; }
	.clsbtn { display: block; background: none;border: none;width: 22px;height: 22px;position: fixed; top: 30px; right: 30px; padding: 0;z-index: 999; cursor: pointer;-webkit-animation-name: rotate; -webkit-animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
	@-webkit-keyframes rotate {
	    from {
	        -webkit-transform: rotate(0deg);
	    }
	    to { 
	        -webkit-transform: rotate(360deg);
	    }
	}

	.clsbtn:hover {transform: rotate(90deg)}
	.clsbtn em { position: absolute; width: 100%;height: 2px;background-color: #fff;display: block;}
	.clsbtn em:nth-child(1) {transform: rotate(45deg); transform-origin: top left; left: 4px;top: 3px;}
	.clsbtn em:nth-child(2) {transform: rotate(-45deg); transform-origin: top left;left: 3px; bottom: 2px;}
	.menusection nav ul li { padding:10px 0; }
	.menusection nav ul li a { font-size: 17px; color: #fff; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s;}
	.menusection nav ul li a:hover { color: #0a0a0a }
	.navbtn {display: block; top: 29px; right: 10px; z-index: 9999}
	.navbtn.navtogl em:nth-child(2) {width: 0}
	.navbtn.navtogl em:first-child {transform:rotate(45deg); top: 12px; position: relative;}
	.navbtn.navtogl em:last-child {transform:rotate(-45deg); bottom: 4px; position: relative;}
	.navbtn.navtogl:hover em:first-child,.navbtn.navtogl:hover em:nth-child(3) {width:100%;}
	#header nav ul li {float: none; margin-left: 0; width: 100%; padding: 8px 0}
	#header .headerright .inline-elmnt { display: block;margin-left: 0; padding: 10px 15px;}
	#header nav ul { text-align: center;}
	.headerright .btn {width:100%; text-align: center}
	#header .headerright .inline-elmnt .logbtn {text-align: center;}
	.homeGetTouch h3.title {font-size: 1.5rem; margin-bottom: 1rem;}
	.left-static {width: auto; left: 17px; top: 271px;}
	.left-static h5 { font-size: 10px;letter-spacing: 1px;}
	.left-static h5 a { padding: 6px 4px;}
	.left-static h5 a::before { width: 14px; height: 14px; background-size: 14px;}
	.htop {top:auto;bottom:0;font-size: 11px}
	#footer {padding-bottom: 40px; z-index: 2}
	.btn.pub-list {
		padding: 5px;
	    position: fixed;
	    right: 89px;
	    background-size: 15px;
	    background-position: 4px center;
	    top: 24px;
	    background-image: none;
		font-size: 11px;
		margin-right: 5px;
	}
	
	.logbtn {
	    cursor: pointer;
	    background-color: #ff1212;
	    background-repeat: no-repeat;
	    background-position: 86% center;
	    display: block;
	    border: none;
	    padding: 6px 10px;
	    font-size: 11px;
	    font-weight: 600;
	    text-transform: uppercase;
	    color: #fff;
	    border-radius: 3px;
	    background-size: 16px;
	    position: fixed;
	    right: 46px;
	    top: 24px;
	}
	.btn.pub-list::after {display:none;}
	.botm-carsl h3.title {margin-top:15px;}
	#header .headerright > div:nth-child(2) {height:0px;padding: 0;}
	.user-drop {
		background-color: #fff;
	    position: absolute;
	    margin-bottom: 0;
	    right: 0;
	    top: 100%;
	    min-width: 160px;
	    display: none;
	}
	.user-drop li a {
	    display: block;
	    padding: 10px;
	    border-bottom: 1px solid rgba(0,0,0,0.1);
	    -webkit-transition: all linear 0.5s;
	    transition: all linear 0.5s;
	    text-transform: uppercase;
	}
	.htop.publish-middle {
	    position: fixed;
	    z-index: 4;
	}
	.botm-carsl .box-wrap .category-circle {
	    width: 33.33%;
	    vertical-align: top;
	    padding: 0 5px;
	}
	.edit-pushclass {
		position: relative;
	margin: 0;
	}
	.dropdd:hover .user-drop {
		display: block !important;
	}
	.dropdown:hover .dropdown-menu {
		display: block;
	  }
	  .pubnew {
	  width: auto;
	padding: 5px 5px 5px 24px !important;
	background: #f95615 url(../images/plus.png) no-repeat 4px center !important;
}
#header .nolog{
	height: 28px;
	padding: 7px 5px;
}
.homeGetTouch .gridwrap {
	margin-top: -16px;
}
}
@media screen and (max-width:640px) {
	#header .headerright .inline-elmnt .navbtn {width: 22px;margin-left: 9px;}
	#header .headerright .inline-elmnt .navbtn em:nth-child(2) { margin: 4px 0;}
	#header .headerright .inline-elmnt .navbtn em {height: 2px;}
	#header .headerright .inline-elmnt .language { margin-left: 15px;}
	#header .headerright .inline-elmnt .language span { font-size: 13px; margin-right: 15px;}
	#header .headerright { padding-top: 67px }
	#header .headerright .inline-elmnt .searchbtn { width: 15px; height: 15px; background-size: 15px }
	.homeGetTouch .secright .botm-links ul { margin-bottom: 6px;}
	.homeGetTouch .secright .botm-copyright h4,.homeGetTouch .secright .botm-copyright h5 {font-size: 12px;}
	.innerbanner { height: 210px; background-position: 0 0;}
	.innerbanner .banner-cont {top: 114px;}
	.innerbanner .banner-cont h1 {font-size: 25px;}
	.breadcramb ul li {font-size: 13px;}
	.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-prev:hover {left:0px;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next:hover {right:0px;}
	.homeBanner h2 { font-size: 22px; line-height: 25px; margin-bottom: 10px}
	.homeBanner h3 { font-size: 18px; line-height: 22px;}
	.homeBanner h4 { font-size: 21px;}
	.search-layout {height: auto;border-radius: 0px;}
	.search-layout .search-group {display:block;}
	.search-layout .search-group input[type="text"] {width:100%; border-radius: 0px}
	.search-layout .search-group input[type="submit"] {width:100%;height: 40px;border-radius: 0px}
	.search-layout .search-group .dropdown select {background-position: 98% 50%}
	.search-layout .search-group .dropdown { width: 100%; float: left;}
	.what-looking  {width: 100%;border-radius: 0;padding-bottom: 15px;}
	.homeBanner .content-sec {padding-top: 124px;}
	.left-static h5 a {display: block}
	.left-static {left: 10px;}
	.homeBanner h6  {padding: 0 15px}
	.category-circle figure {
	    width: 64px;
	    height: 64px;
	    padding: 4px;
	}
	.category-circle figure .circle-layout{
		width: 56px;
    	height: 56px;
	}
	.botm-carsl .category-circle figure {
	    width: 86px;
	    height: 86px;
	}
}

