* {	padding: 0;	margin: 0;}
*, *:after, *::before {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box;}
header, section, footer, aside, nav, main, article, figure { display: block; }
ol, ul li { list-style: none}
img {border: none;max-width: 100%; display:block}
.clear{clear:both;}
.spacer{clear:both; display:block; line-height:0; font-size:0;}
.clearfix:after {visibility: hidden;  display: block;   font-size: 0;   content: " ";  clear: both;  height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
.clearfix { display: block; }
/* close commented backslash hack */
html, body {min-height:100%}
body {font-family: 'Raleway', sans-serif;font-size: 14px; line-height: 1.428571429; color: #4c4c4c;background: #fff;overflow-x: hidden;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizeLegibility; }
.text-left { text-align: left}
.text-right { text-align: right}
.text-center { text-align: center; display: block;}
input:focus,button:focus {outline: none !important}
a { text-decoration:none; color:#000; -webkit-transition:all linear 0.5s; -moz-transition:all linear 0.5s; transition:all linear 0.5s}
a:hover {text-decoration:none;}

@media only screen and (orientation:landscape) {
	body { -webkit-text-size-adjust:none; }
}

@media only screen and (orientation:portrait) {
	body { -webkit-text-size-adjust:none; }
}
#section0,#section1,#section2,#section3,#section4,#section5,#section6,#section7,#slide1,#slide2{background-size: cover;	background-attachment: fixed;}
.outer-container,.homeBanner .fp-slidesNav { width:100%;  padding-left: 15px; padding-right: 15px }
.content-sec { position: relative; z-index: 3}
.row { margin-left: -0.625rem; margin-right: -0.625rem}
.redbg {background-color: #b73742}
.blackbg {background-color: #111111}

#fp-nav ul li { width: 17px;height: 17px;margin: 28px 7px;}
#fp-nav ul li a span, #fp-nav ul li:hover a span {height: 12px;width: 12px;margin: -6px 0 0 6px;}
#fp-nav ul li a.active span { width: 3px; border-radius: 0; height: 25px; margin: -8.5px 0 0 -1.5px;}
#fp-nav ul li a span {background: #fff;}
#fp-nav ul li a.active span { background: #b5313c }
.section .title { font-size: 22px; font-weight: 400; color: #fff; line-height: 27px; text-transform: uppercase; -webkit-text-shadow: 4px 4px 4px rgba(0,0,0,0.8); text-shadow:4px 4px 4px rgba(0,0,0,0.8) }
.section h5.subtitle { font-size: 18px; font-weight: 300; color: #fff; line-height: 22px;}

.section .parainfo {font-family: 'GothamBook'; font-size: 13px; line-height: 18px; color: #fff}
.section .fp-tableCell { vertical-align: top }
.section.homeBanner .fp-tableCell { vertical-align: middle }
.btn { position: relative; padding: 8px 36px 6px 10px; text-transform: uppercase; font-size: 12px;  display: table;}
.btn:before {content: "";position: absolute; z-index: -1; top: 0;bottom: 0;left: 0;right: 0;background: #fff;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.btn.whitecolor:hover,.homeGetTouch .secright .btn.whitecolor:hover  { color: #b5313c;}
.btn:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1);}
.btn:after { content: ''; position: absolute; background-size: 14px;right: 14px;top: 11px;width: 14px;height: 10px; display:block; background-image: url(../images/arrow-white.png); background-repeat: no-repeat; }
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.btn:after {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.btn:hover:after {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.btn:hover:after {background-image: url(../images/arrow-white.png); background-repeat: no-repeat; }
.homeGetTouch .secright .btn:hover:after {background-image: url(../images/arrow-sm-red.png); background-repeat: no-repeat;}
.brdrbtn { border-width:1px; border-style: solid;}

.whitecolor { color: #fff }
.whitebrdr { border-color: #fff }
#header, #footer { position: fixed; display: block; width: 100%; z-index: 9;}
#header {top:0px; padding-top: 30px}
#header .logo { display: block; background: rgba(255,255,255,0.9); padding: 25px 10px 18px 10px; }
#header .headerleft { float: left }
#header .headerright { float: right; margin-top: 15px;}
#header .headerright .inline-elmnt { display: inline-block; vertical-align: middle; margin-left: 6px }
#header .headerright .inline-elmnt .logbtn { cursor: pointer; background-color:#ff1212; background-repeat: no-repeat; background-position: 86% center; display: block; border:none; padding: 11px 41px 10px 16px; font-size: 12px; font-weight: 600; text-transform: uppercase; color: #fff; border-radius: 3px; background-size: 16px; -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;transition: all linear 0.5s}
#header .headerright .inline-elmnt .logbtn:hover {background-color: #094800}
#header .headerright .login .logbtn {background-image: url(../images/icon-login.png)}
#header .headerright .logout .logbtn {background-image: url(../images/icon-logout.png)}
.navbtn { display: none; cursor: pointer; top: 3px; height:19px; width: 30px; position: fixed; border:none; background: none;}
.navbtn em {width:100%; height: 3px; background: #fff; display: block;-webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;transition: all linear 0.5s}
.navbtn em:nth-child(2) { margin: 5px 0 }
.navbtn:hover em:nth-child(1) { width:40%; }
.navbtn:hover em:nth-child(2) { width:60%; background-color: #b5313c }
.navbtn:hover em:nth-child(3) { width:80%; }
.btngroup .btn { display: inline-block; margin-right: 6px }
#header nav ul {margin-bottom: 0;}
#header nav ul li {float: left; margin-left: 10px}
#header nav ul li:first-child {margin-left: 0px}
#header nav ul li a {color:#fff; text-transform: uppercase; font-size: 12px; letter-spacing: 1px}
@media all and (min-width: 768px) {
  #header.innerchange .headerright .inline-elmnt .locationbtn {background: url(../images/icon-map-black.png) no-repeat center center;}
  #header.innerchange .headerright .inline-elmnt .logbtn {background: url(../images/icon-login-black.png) no-repeat center center;}
  #header.innerchange  nav ul li a {color:#000;}
  #header.innerchange {background: #fff;box-shadow: 0 2px 2px rgba(0,0,0,0.1);}
  #header.innerchange .logo {background:none;}
  #header.innerchange .headerright {margin-top: 4px;}
 .navbtn em {background: #1c1c1c}
}

.homeBanner .bannertxt { position:relative; width: 100%; z-index: 3}
.homeBanner .fp-slides {position:absolute;width:100%; left: 0; top: 0}
.homeBanner h2 {margin-bottom: 2px}
.homeBanner h4 { font-size: 28px;color: #fff;text-transform: uppercase; margin-bottom: 2px}
.homeBanner h4 span { font-size: 18px;color: #fff;text-transform: capitalize; font-style: italic;}
.homeBanner h6 { font-size: 14px; font-weight:300; color: #fff; margin-bottom: 0;}
.homeBanner .category-circle { margin-top: 10px;}
.homeBanner h3 { font-size: 17px;color: #fff; text-transform: uppercase}

.homecategory {background-image: url(../images/category-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size:100% 100% !important; -webkit-transition:all linear 0.5s; -moz-transition:all linear 0.5s; transition:all linear 0.5s}
.homecategory .content-sec { position: relative; padding-top: 40px }
.homecategory .content-sec .category-circle {margin-top:30px;}
.category-circle .owl-item .item {text-align: center;}
.category-circle figure {position:relative; width:128px;height: 128px; background: rgba(255,255,255,.19); border-radius: 50%; margin: 0 auto; padding: 6px}
.category-circle figure .circle-layout {position:relative; width:116px;height: 116px; background: #fff; overflow: hidden; border-radius: 50%;}
.category-circle .owl-item .item h3 {font-family: 'Damion', cursive; color:#fff; font-size: 17px; font-weight: 400; margin-top: 15px; text-transform: capitalize;}
.category-circle .owl-item .item h3 a {color:#fff;}
.category-circle figure figcaption {position: absolute; width: 100%; height: 100%; border-radius: 50%; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(249,86,21,0.8);-webkit-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s; -webkit-transform: scale(0);transform: scale(0); opacity: 0; visibility: hidden;}
.category-circle figure:hover figcaption {-webkit-transform: scale(1);transform: scale(1); opacity: 1; visibility: visible;}
.category-circle figure figcaption a.button {width: 30px; height: 30px; cursor: pointer; background: #fff; z-index: 3; border-radius: 50%; border: none; position: absolute; top: 0; bottom: 0;left: 0;right: 0;margin: auto; -webkit-transition: all ease-in-out 0.9s; transition: all ease-in-out 0.9s; -webkit-transform: scale(0);transform: scale(0); opacity: 0; visibility: hidden;}
.category-circle figure:hover figcaption a.button {-webkit-transform: scale(1);transform: scale(1);opacity: 1; visibility: visible;}
.category-circle figure:hover figcaption a.button i { font-size: 21px;position: relative;left: 1px; top: 4px; color: rgba(0,0,0,0.5);}
.category-circle figure:hover figcaption a.button:hover i {color:#f12227;}
@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.category-circle figure figcaption a.button { -webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.category-circle figure figcaption a.button:hover { -webkit-animation-name: hvr-icon-pulse-grow; animation-name: hvr-icon-pulse-grow;  -webkit-animation-duration: 0.3s; animation-duration: 0.3s;-webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: alternate; animation-direction: alternate;}
.homecategory .content-sec h3.title {font-size: 22px; margin-bottom: 5px; line-height: 28px}
.homecategory .content-sec h5.subtitle {font-size: 16px; margin-bottom: 5px; line-height: 22px}
.search-layout {width: 702px; height: 50px; background: rgba(255,255,255,.19); padding: 6px; border-radius: 50px; margin: 15px auto 0}
.search-layout .search-group {display: -webkit-flex; display:-ms-flexbox; display: flex; height: 100%;}
.search-layout .search-group input[type="text"] {-webkit-flex-grow:9;flex-grow:9; background: #fff; border-radius: 50px 0 0 50px; border: none; padding: 10px 15px; font-family: 'Raleway', sans-serif; font-size: 14px; color: #8e8e8e}
.search-layout .search-group input[type="submit"] {-webkit-flex-grow:2;flex-grow:2; border-radius: 0 50px 50px 0; border: none; background-color: #ff1212; background-image: url("../images/search-icon.png"); background-repeat: no-repeat; background-position:center center; color: #fff;  font-size: 0px; font-weight: 500;-webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; cursor: pointer;}
.search-layout .search-group input[type="submit"]:hover {background-color:#094a00}
.search-layout .search-group .dropdown select { background:url(../images/dropdown-angel.png) no-repeat 94% 50%;  width:100%; padding: 10px 30px 10px 10px;color: #353535;background-color: #f1f1f1;border-color: #f1f1f1; border-radius: 0; border:none; -webkit-appearance: none; -moz-appearance: none; appearance:none;}
.search-layout .search-group .dropdown select::-ms-expand {overflow: hidden; display: none}
.headerright .logout {position: relative;}
.logout ul {background-color: #fff; position: absolute; margin-bottom: 0; right:0; min-width: 180px; -webkit-transition: all linear 0.5s; transition: all linear 0.5s; opacity: 0; visibility: hidden}
.logout ul li a {display: block; padding: 10px; border-bottom: 1px solid rgba(0,0,0,0.1); -webkit-transition: all linear 0.5s; transition: all linear 0.5s; text-transform: uppercase; }
.logout ul li a:hover {background-color: #ff1212; color:#fff;}
.logout ul li:last-child a {border-bottom:0}
.logout:hover ul {opacity: 1; visibility: visible}

.homepdlist {background-image: url(../images/homelist-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size:100% 100% !important; -webkit-transition:all linear 0.5s; -moz-transition:all linear 0.5s; transition:all linear 0.5s }
.homepdlist .content-sec {padding-top:48px;}
.homepdlist-tab .resp-tabs-list li {position: relative; float: none; vertical-align: top; font-weight: 500; font-size: 20px; color: #f12227; background: #fff;}
.homepdlist-tab .resp-tabs-list li::after {content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background-color: rgba(0,0,0,0.2)}
.homepdlist-tab .resp-tabs-list .resp-tab-active { border: none; background-color: #f12227; color: #fff; text-shadow: 2px 4px 5px rgba(0,0,0,0.75)}
.homepdlist-tab .resp-tabs-list .resp-tab-active::before {content: ''; display: block; position: absolute; top: -8px; left: 0; width: 100%; height: 8px; background-color: #f12227}
.homepdlist-tab .resp-tabs-container { background: none; margin-top: 85px; }
.homepdlist-tab .resp-tab-content { border: none;padding: 0px;}
.homelist-box figure .pdimg {position:relative; display: block; background: #3e3835;}
.homelist-box figure .pdimg img {-webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s;}
.homelist-box figure:hover .pdimg img {opacity:0.3;}
.homelist-box figure .box-layout figcaption {background: #fff; text-align: center; padding: 17px 10px}
.homelist-box figure .box-layout figcaption h3 {margin-bottom: 9px;font-size: 13px;}
.homelist-box figure .box-layout figcaption h3 a { font-weight: 500; color: #282828;-webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }
.homelist-box figure .box-layout figcaption h3 a:hover {color: #f95615}
.homelist-box figure .box-layout figcaption h5 {font-size: 16px; font-weight: 500; color: #f12227; margin-bottom:0}
.homelist-box figure .pdimg .detailsbtn {width: 35px; height: 35px; cursor: pointer; z-index: 3; border-radius: 50%; border: none; position: absolute; top: 0; bottom: 0;left: 0;right: 0;margin: auto; -webkit-transition: all ease-in-out 0.9s; transition: all ease-in-out 0.9s; -webkit-transform: scale(0);transform: scale(0); opacity: 0; visibility: hidden;}
.homelist-box figure:hover .pdimg .detailsbtn {-webkit-transform: scale(1);transform: scale(1);opacity: 1; visibility: visible;}
.homelist-box figure .pdimg .detailsbtn i { font-size: 35px;color: #fff;}
.homelist-box figure .pdimg .detailsbtn { -webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.homelist-box figure .pdimg .detailsbtn:hover { -webkit-animation-name: hvr-icon-pulse-grow; animation-name: hvr-icon-pulse-grow;  -webkit-animation-duration: 0.3s; animation-duration: 0.3s;-webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: alternate; animation-direction: alternate;}
.homepdlist .video-box {margin-bottom: 20px}


.homeGetTouch {background-color: #0e0e0e; }
.homeGetTouch .gridwrap { display: -webkit-flex; display: -ms-flexbox; display: flex; -ms-flex-wrap:wrap; flex-wrap:wrap; height: 100% }
.homeGetTouch .gridwrap .two-grid { flex-grow: 1; height: 100%; width: 50%; vertical-align: top;}
.homeGetTouch .secleft .img-grid ul li { position: relative; float: left; width: 25%; height: 25%; overflow: hidden; }
.homeGetTouch .secleft .img-grid,.homeGetTouch .secleft .img-grid ul { position: relative;height: 100%;}
.homeGetTouch .secleft .img-grid ul li img { width: 100%; height: 100%;}
.homeGetTouch .secright { background-color: #0e0e0e; background-image: url(../images/logo-light.png); background-position: center center;  background-repeat: no-repeat; text-align: center; padding: 0 22px; }
.homeGetTouch .secright .content-sec { position: relative; padding-top: 177px; height: 100%; padding-bottom: 114px }
.homeGetTouch .secright .content-sec .box-wrap {padding-bottom: 30px;}
.homeGetTouch .secright .btn { margin: 0 auto; font-family: 'GothamLight'; font-size: 15px; color: #bababa; text-transform: capitalize; }
.botm-links ul { margin-bottom: 0; margin-top: 7px; text-align: center }
.botm-links ul li { display: inline-block; margin-right: -3px }
.botm-links ul li a { font-size: 13px; color: #fff; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s }
.botm-links ul li:hover a {color:#b5313c;}
.botm-links ul li::after { content: '|'; margin: 0 6px; color:#fff; }
.botm-links ul li:last-child::after { display: none; }
.botm-social ul li { display: inline-block;position: relative; width:38px; height: 38px; border-radius:50%; background: #2b2b2b; margin-right:5px; }
.botm-social ul li a, #footer ul.ft-social li a { width: 30px; height: 30px; display: block; text-indent: 999px; overflow: hidden;position: absolute; top: 0; bottom: 0;left: 0;right: 0; margin: auto; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s }
.botm-social ul li.fb a, #footer ul.ft-social li.fb a { background-image: url(../images/icon-fb.png); background-repeat: no-repeat; background-position: 0 0 }
.botm-social ul li.fb:hover a, #footer ul.ft-social li.fb:hover a {background-position: 0 -30px }
.botm-social ul li.twt a,#footer ul.ft-social li.twt a { background-image: url(../images/icon-twitter.png); background-repeat: no-repeat; background-position: 0 0 }
.botm-social ul li.twt:hover a,#footer ul.ft-social li.twt:hover a {background-position: 0 -30px }
.botm-social ul li.inst a, #footer ul.ft-social li.inst a { background-image: url(../images/icon-insta.png); background-repeat: no-repeat; background-position: 0 0 }
.botm-social ul li.inst:hover a, #footer ul.ft-social li.inst:hover a {background-position: 0 -30px }
.botm-social ul li.linkd a, #footer ul.ft-social li.linkd a { background-image: url(../images/icon-linkdin.png); background-repeat: no-repeat; background-position: 0 0 }
.botm-social ul li.linkd:hover a, #footer ul.ft-social li.linkd:hover a {background-position: 0 -30px }
.botm-social ul li.utube a, #footer ul.ft-social li.utube a { background-image: url(../images/icon-utube.png); background-repeat: no-repeat; background-position: 0 0 }
.botm-social ul li.utube:hover a, #footer ul.ft-social li.utube:hover a {background-position: 0 -30px }
.homeGetTouch .secleft .img-grid ul li img {-webkit-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s}
.homeGetTouch .secleft .img-grid ul li:hover img {filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  filter: gray; -webkit-filter: grayscale(100%);}
.homeGetTouch .secleft .img-grid ul li::before { position: absolute; top: 0; left: -75%; z-index: 2; display: block; content: ''; width: 50%; height: 100%; background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%); background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);-webkit-transform: skewX(-25deg); transform: skewX(-25deg); }
.homeGetTouch .secleft .img-grid ul li:hover::before {-webkit-animation: shine .75s; animation: shine .75s;}
.homeGetTouch h3.title {font-size: 2rem; margin-bottom: 1.5rem}
 @-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
}
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

#footer { bottom: 0; background-color: rgba(0,0,0,0.5); padding:7px 0 0; }
#footer .ftop {background: rgba(255,18,18,0.7);padding: 4px 0; margin-top:3px}
#footer .ftop p {margin-top: 0}
#footer p {color: #fff; margin-top: 7px;}
#footer .pull-left {float:left;}
#footer .pull-right {float:right;}
#footer ul.ft-social { margin-bottom: 0; text-align: right;}
#footer ul.ft-social li { display: inline-block;position: relative; width:30px; height: 30px; margin:0px 5px; }
.left-static h5 {font-weight: 600; font-size: 16px; text-transform: uppercase; letter-spacing: 2px; }
.btn.pub-list {color:#fff; padding: 11px 48px 10px 42px; background:#f95615 url(../images/icon-pub.png) no-repeat 10px center; font-size: 12px; overflow: hidden; font-weight: 600;}
.btn.pub-list::after {top:16px;}
.btn.pub-list:before {display: none}
.left-static { position: fixed; width:100%; height: 20px; text-align: center; z-index: 9; transform: rotate(-90deg); transform-origin: left;}
.left-static h5 {font-weight: 600; font-size: 16px; text-transform: uppercase; letter-spacing: 2px; }
.left-static h5 a {color:#fff;border: 1px solid #fff; padding: 11px; background-color: #ff1212 }
.left-static h5 a::before {content:''; width: 24px; height: 21px; display: inline-block; background: url(../images/icon-pub-vertical.png) no-repeat left center; -webkit-transform: rotate(90deg); transform: rotate(90deg); margin-right:5px; vertical-align: middle;}
.section.active .left-static { opacity: 1; visibility: visible; }
.fp-viewing-4 #footer,.fp-viewing-4 .left-static { display: none; }

.topsearch,.menusection { position: fixed; width: 100%; height: 100%; left: 0; right: 0; top: 0; z-index: 999; border:15px solid #fff; overflow: auto; opacity: 0; visibility: hidden; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s; }
.topsearch.scrchboxopen,.menusection.menuopen {opacity: 1; visibility: visible;}
.topsearch .topsearchlayout,.menusection .menulayout { position: relative; width:100%; height: 100%; display: table; vertical-align: middle; text-align: center; background-color: rgba(181,49,60,0.9);}
.topsearch .topsearchlayout form, .menusection .menulayout nav { position: relative; display: table-cell;; vertical-align: middle; padding:0 3%; }
.topsearch .topsearchlayout form input[type="text"] {width: 100%; padding:16px 57px 16px 15px; border:none; border-radius: 50px; font-size: 17px; color: #0a0a0a}
.topsearch .topsearchlayout form input[type="submit"] {width: 41px; height:41px; border-radius: 50%; background-image: url(../images/search-sprite.png); background-repeat: no-repeat; background-position: 0 0; border: none; background-color: #b5313c; position: absolute; right: 8px; top: 6px; overflow-x: hidden; text-indent: 999px; cursor: pointer; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; transition: all linear 0.2s;}
.topsearch .topsearchlayout form input[type="submit"]:hover { background-position: -41px 0; background-color: #c0c0c0 }
.topsearch .search-group { position: relative; }
.clsbtn { display: block; background: none;border: none;width: 22px;height: 22px;position: fixed; top: 30px; right: 30px; padding: 0;z-index: 999; cursor: pointer;-webkit-animation-name: rotate; -webkit-animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.clsbtn:hover {transform: rotate(90deg)}
.clsbtn em { position: absolute; width: 100%;height: 2px;background-color: #fff;display: block;}
.clsbtn em:nth-child(1) {transform: rotate(45deg); transform-origin: top left; left: 4px;top: 3px;}
.clsbtn em:nth-child(2) {transform: rotate(-45deg); transform-origin: top left;left: 3px; bottom: 2px;}
.menusection nav ul li { padding:10px 0; }
.menusection nav ul li a { font-size: 17px; color: #fff; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; transition: all linear 0.5s;}
.menusection nav ul li a:hover { color: #0a0a0a }
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-next:hover {width:29px; height: 29px; background: url(../images/arrow-next.png) no-repeat; position: absolute; right: -50px; top: 50%; border-radius: 0;}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-prev:hover {width:29px; height: 29px; background: url(../images/arrow-prev.png) no-repeat; position: absolute; left: -50px; top: 50%; border-radius: 0;}
.owl-carousel .owl-nav button span {font-size: 0px}
.owl-carousel .owl-nav button {margin: -14.5px  0 0 0; }
.homelist-box.owl-carousel .owl-nav button, .category-circle.owl-carousel .owl-nav button { margin-top: -29px }
video::-webkit-media-controls { display:none !important; }
.homelist-box.owl-carousel .owl-nav button.owl-prev {left:-20px;}
.homelist-box.owl-carousel .owl-nav button.owl-next {right:-20px;}
.btn.subscribe {background-color: red; color: #fff; float: right}


/* INNER PAGE STYLE */
.inner-page-wrap #footer {position: relative;}
.innerbanner {position: relative;height:220px;overflow: hidden; background: url(../images/inner-banner.jpg); background-repeat: no-repeat; background-size:cover; background-position: 0 -70px;}
.innerbanner .banner-cont {position: relative;top: 130px;width: 100%;text-align: center; }
.innerbanner .banner-cont h1 {font-size: 32px; font-weight: 700; color: #fff; text-transform: uppercase;}
.breadcramb ul li {display: inline-block; color: #fff; font-size: 15px; text-transform: uppercase;}
.breadcramb ul li::after {content: '|'; margin: 0 10px;}
.breadcramb ul li:last-child::after {display: none}
.breadcramb ul li a {color: #fff}
.inner-top-cat {background: rgba(0,0,0,0.1); padding: 10px 0;}
.inner-top-cat .category-circle figure {width: 100px; height: 100px; padding: 4px;}
.inner-top-cat .category-circle figure .circle-layout {width: 90px;height: 90px;}
.inner-top-cat .category-circle .owl-item .item h3 {font-size: 18px;margin: 0}
.inner-top-cat .category-circle .owl-item .item h3 a {color:#2a2a2a;}
.inner-top-cat .category-circle.owl-theme .owl-nav {margin-top: 0;}
.inner-top-cat.category-circle.owl-carousel .owl-nav button { margin-top: -14px; margin-bottom: 0;}
.inner-top-cat .category-circle figure figcaption button {width: 30px;height: 30px;}
.inner-top-cat .category-circle figure:hover figcaption button i { font-size: 27px;}
.inner-layout .inner-content {padding: 60px 0; min-height: 450px}
.inner-layout .inner-content h3 {font-size: 22px; margin: 10px 0 15px}
.inner-layout .inner-content p {font-size: 18px; line-height: 1.7}
.inner-layout .inner-content .addrs-block {border-bottom:1px solid #ddd; margin-bottom: 20px; padding-bottom: 15px}
.inner-layout .inner-content .addrs-block p {font-size: 14px}
.inner-layout .inner-content .addrs-block h5 {font-size: 14px; font-weight: 600;}
.contact-info { margin-top: 20px }
.form-group { margin-bottom: 10px; margin-top: 10px; }
.form-group label {font-weight: 600}
.form-group input, .form-group textarea {font-size: 13px}
.contact-form-block .input-group-btn { margin-top: 15px }
.pd-search-filter-layout {border-bottom: 1px solid rgba(0,0,0,.06); background-color: rgba(0,0,0,.04);margin-bottom: 10px}
.product-item .pd-list-tab .resp-tab-content {border:none;padding: 0;}
.pd-item-box {border:1px solid rgba(0,0,0,0.1);margin-top:15px;}
.pd-item-box figure {margin-bottom: 0; }
.inner-layout .inner-content .pd-item-box figure .img-box {position: relative;width: 160px;height:160px;display: table;}
.inner-layout .inner-content .pd-item-box figure .img-box .img-inner {display: table-cell; vertical-align: middle;width:100%; height: 100%}
.inner-layout .inner-content .pd-item-box figure .img-box .img-inner img {max-width: 160px;max-height: 150px;margin: auto;}
.inner-layout .inner-content .pd-item-box figure figcaption {text-align: left; padding: 10px;}
.inner-layout .inner-content .pd-item-box figure figcaption h2 {font-size: 22px;color:#ff1212;}
.inner-layout .inner-content .pd-item-box figure figcaption h3 {font-size: 18px; color:#094a00;}
.inner-layout .inner-content .pd-item-box figure figcaption h4  {font-size: 14px}
.inner-layout .inner-content .pd-item-box figure figcaption h5  {font-size: 12px; color: rgba(0,0,0,0.4)}
.inner-layout .inner-content .pd-item-box figure figcaption h5 span {display: block; margin: 5px 0}
.inner-layout .inner-content .pd-item-box figure figcaption h6  {font-size: 12px;font-weight:600;}
.inner-layout .inner-content .pd-item-box figure figcaption .publsh-date,.inner-layout .inner-content .pd-item-box figure figcaption .viewed {font-size: 11px}
.inner-layout .inner-content .pd-item-box figure figcaption span span {font-weight:600;}
.inner-layout .inner-content .pd-item-box figure figcaption .btn {padding: 9px 52px 7px 15px; text-transform: uppercase; font-weight: 600; margin-bottom: 10px}
.inner-layout .inner-content .pd-item-box figure figcaption .btn::after {top: 12px;}
.location::before {content: '\e833';font-family: 'Linearicons-Free';}
.publshby::before {content: '\e802';font-family: 'Linearicons-Free';}
.pd-list-tab .resp-tabs-list {background-color: rgba(0,0,0,0.1); padding: 5px 6px 0 5px;}
.pd-list-tab .resp-tabs-list li {text-transform: uppercase;}
.pd-list-tab .resp-tabs-list li.resp-tab-active,.aside-layout .resp-vtabs li.resp-tab-active {color: #ff1212;}
.pd-search-filter-layout form .form-group label {display: block;}
.pd-search-filter-layout form .form-group input,.pd-search-filter-layout form .form-group select {width:100%; padding:6px;}
.pd-search-filter-layout form .form-group .asRange {width: 100%}
.pd-search-filter-layout form .form-group .asRange .asRange-pointer .asRange-tip {bottom: -33px; top: auto}
.pd-search-filter-layout form .form-group .asRange .asRange-pointer .asRange-tip::before {top: -3px; bottom: auto}
.aside-layout .resp-vtabs .resp-tabs-list li {text-transform: uppercase; font-size: 14px}
.aside-layout .resp-vtabs .resp-tabs-container {border-top: 0;border-right: 0;border-bottom: 0;border-radius: 0;}
.aside-layout .resp-vtabs ul.resp-tabs-list { padding-top: 20px;}
.aside-layout .resp-vtabs .resp-tab-content { padding-top: 36px;}
.cont-part {border-left: 1px solid rgba(0,0,0,0.1)}

#view { margin: 0 0 20px;height: auto !important;}
#thumbs {position: relative;margin: 20px 0;}
#nav-left-thumbs { left: -3px; }
#nav-right-thumbs { right: -3px; }
#nav-left-thumbs, #nav-right-thumbs {position: absolute;top: 30px;width: 25px;height: 25px;line-height: 25px;background: rgba(0,0,0,.02);border:1px solid rgba(0,0,0,.04);font-size: 1em;font-weight: bold;color: #999;cursor: pointer;transition-duration: .5s;text-align: center;}
#nav-left-thumbs:hover, #nav-right-thumbs:hover { background: lightgrey; }
#pics-thumbs {position: relative;padding: 5px 0;margin: 0 28px;white-space: nowrap;overflow: hidden;transition-duration: .8s;}
#pics-thumbs img {padding: 5px;margin: 0 2px;border-radius: 0px;box-shadow: 0 0 3px rgba(0,0,0,.0.4);cursor: pointer;height: 75px;transition-duration: .5s;display: inline-block;}
.product-details-layout h2 {font-size: 26px; margin-bottom: 15px}
.comment-layout .comment-item figure {display: -wevkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: flex-start; align-items: flex-start; padding: 10px 0}
.comment-layout .comment-item figure .pic {width:80px;height: 80px; border-radius: 50%; overflow: hidden; display: block; margin-right: 8px}
.comment-layout .comment-item figure .pic img {max-width: 90px; max-height: 90px}
.comment-layout .comment-item figure figcaption {-webkit-flex:1;flex:1;}
.comment-layout .comment-item figure figcaption p {font-size: 14px;}
.comment-layout .comment-item figure figcaption h3 {font-size: 12px; font-weight: 600; color: #f95615}
.comment-layout .comment-item figure figcaption h3::before {content: '\e82a'; font-family: 'Linearicons-Free'; margin-right: 4px}
.comment-layout .comment-item figure figcaption h4 {font-size: 12px; font-weight: 600; color: #f95615}
.comment-layout .comment-item figure figcaption h4::before {content: '\e836'; font-family: 'Linearicons-Free'; margin-right: 4px}
.comment-layout .comment-item figure figcaption h3,.comment-layout .comment-item figure figcaption h4 {display: inline-block; vertical-align: top;margin-right: 10px; margin-top: 3px}
.comments-sec .form-control {border: 1px solid rgba(0,0,0,0.1); padding: 10px;}
.comments-sec .form-control:focus {box-shadow: none; border-color: #f95615}
.comments-sec .form-submit input {background-color: #f95615; padding: 7px 20px; color: #fff; border:none; cursor: pointer} 
.details-pd .details-item {margin-bottom: 20px;}
.details-pd .details-item p {font-size: 16px}
.seller-info-layout {Width:100%; background-color: rgba(0,0,0,.05); padding: 15px}
.inner-layout .inner-content .seller-info-layout h3 {text-align: center; background-color: #fff; padding: 10px; text-transform: uppercase; font-size: 16px; font-weight: 600}
.seller-info-layout .seller-info-item {text-align: center;}
.seller-info-layout .seller-info-item h4 {color:#b5313c;}
.seller-info-layout .seller-info-item h6 {color:#8f8f8f; font-size: 14px}
.seller-info-layout .seller-info-item h6::before {content: '\e82a'; font-family: 'Linearicons-Free'; margin-right: 4px}
.seller-info-layout .seller-info-item h5 {color:#6c6c6c; font-size: 15px}
.inner-layout .inner-content .seller-info-layout span {display: inline-block; position: relative;}
.inner-layout .inner-content .seller-info-layout span i {display: block; cursor: pointer; padding: 0 5px; background-color: #de3f00; color: #fff; width: 45px; height: 45px; border-radius: 3px; font-size: 18px; text-align: center; line-height: 45px}
.inner-layout .inner-content .seller-info-layout span ul {position: absolute; z-index: 5; right: 0; opacity: 0; visibility: hidden; background-color: #fff; border: 1px solid rgba(0,0,0,.03); -webkit-transition: all linear 0.5s; transition: all linear 0.5s}
.inner-layout .inner-content .seller-info-layout span ul li a {display: block; padding: 4px 8px; border-bottom: 1px solid rgba(0,0,0,.03); font-size: 12px; text-align: left;}
.inner-layout .inner-content .seller-info-layout span:hover > ul {opacity: 1; visibility: visible;}
.contact-info a {position:relative; display: block; padding: 10px; text-align: center; font-size: 16px; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;}
.contact-info a.cont-no {background-color: #f95615; color: #fff; margin-bottom: 10px}
.contact-info a.cont-no::before {content: '\e830'; font-family: 'Linearicons-Free'; font-size: 22px; position: absolute; left: 10px; top: 4px}
.contact-info a.cont-mail {background-color: #074500; color: #fff}
.contact-info a.cont-mail::before {content: '\e818'; font-family: 'Linearicons-Free'; font-size: 22px; position: absolute; left: 10px; top: 4px}
.details-pd .details-item ul li { padding: 5px 0 }
.details-pd .details-item ul li label {font-weight: 600; min-width: 140px}
.comment-add-layout h4 {font-size: 19px}

/* LOG REGISTER STYLE */
.login-block h2.title, .register-block h2.title { margin-bottom: 20px  }
.login-block h2.title::after, .register-block h2.title::after { content: ''; width: 80px; height: 2px; background-color: #f12227; display: block; margin-top: 20px }
.register-block {border-left: 1px solid rgba(0,0,0,0.1)}
.login-block .form-check { margin: 10px 0 15px;  }
.login-block .forgot-pass { text-align: right; -webkit-align-self: center; align-self: center}
.form-control:focus { color: #f12227; border-color: #f12227;box-shadow: none;}
.btn-primary:hover {background-color: #f12227; border-color: #f12227;}
.btn-primary.focus, .btn-primary:focus { box-shadow: none}
.add-new-pd .btn {margin: 1.5rem auto 0;}


@media (min-width:768px) {
	.outer-container,.homeBanner .fp-slidesNav,.banner-container { padding-left: 50px; padding-right: 50px }
  #header .logo { -webkit-transform: skew(0,8deg); transform: skew(0,8deg); -webkit-transform-origin: top; transform-origin: top; -webkit-flex-shrink: 1; flex-shrink: 1; margin-top: -42px; }
  #header .logo img {-webkit-transform: skew(0,-8deg); transform: skew(0,-8deg);}
  .pd-item-box figure {display: -webkit-flex; display: -ms-flexbox; display: flex; align-content: flex-start; align-content: -webkit-flex-start; }
  .inner-layout .inner-content .pd-item-box figure figcaption {flex: 1;-webkit-flex: 1; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; -webkit-flex-wrap: wrap;}
  .inner-layout .inner-content .pd-item-box figure figcaption .content-item {display: -webkit-flex; display: -ms-flexbox; display: flex;}
  .inner-layout .inner-content .pd-item-box figure figcaption .item-left {width:70%; padding-right: 5px;}
  .inner-layout .inner-content .pd-item-box figure figcaption .item-right {width:30%; border-left: 1px solid rgba(0,0,0,0.1); padding-left: 5px;}
}
@media (min-width:1025px) {
	#header .logo { width: 120px;}
	.homeBanner .bannertxt { width: 75%;padding-top: 248px;}
	.homeBanner .fp-slidesNav.fp-bottom { bottom: 135px;}
	.homeBanner h2 { font-size: 46px }
  .homeBanner h3 { font-size: 36px }
	#fp-nav ul li a span {height: 12px;width: 12px;margin: -6px 0 0 6px;}
  #fp-nav ul li a.active span,#fp-nav ul li:hover a.active span { width: 3px;border-radius: 0; height: 25px; margin: -8.5px 0 0 9.5px;}
	#fp-nav ul li { width: 12px; height: 12px; margin: 22px 7px;}
	#fp-nav.fp-right {right: 22px;}
	.section .title {font-size: 28px; line-height: 33px;}
	.section .parainfo { font-size: 16px; line-height: 22px;}
	.botm-links ul li a {font-size: 13px;}	
	.homeGetTouch .secright .content-sec { padding-top: 120px; padding-bottom: 0px;}
	.homeGetTouch .secright .botm-logo { margin: 85px auto 0;}
	.botm-links ul li a {font-size: 14px;}
	.botm-links ul li::after {margin: 0 12px;}
	.homeGetTouch .secright .botm-copyright {padding: 15px 0; bottom: 66px;}
  .homecategory:hover { background-size: 115% 115% !important }
  .homecategory:after { opacity: 0; background: #b73742; background: -moz-linear-gradient(45deg,#b73742 0,transparent 100%); background: -webkit-gradient(left bottom,right top,color-stop(0,transparent),color-stop(100%,transparent)); background: -webkit-linear-gradient(45deg,#b73742 0,transparent 100%); background: -o-linear-gradient(45deg,#b73742 0,transparent 100%); background: -ms-linear-gradient(45deg,#b73742 0,transparent 100%); background: linear-gradient(45deg,#b73742 0,transparent 100%); -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease; transition: all .5s ease;content: '';position: absolute;width:0;height: 100%;top: 0;left: 0;right: 0;bottom: 0;}
  .homecategory:hover:after {opacity: 0.7; width:100%;}
  .homepdlist:hover { background-size: 115% 115% !important }
  .homediscover:hover { background-size: 115% 115% !important }
  .homediscover:after { opacity: 0; background: #b73742; background: -moz-linear-gradient(45deg,#b73742 0,transparent 100%); background: -webkit-gradient(left bottom,right top,color-stop(0,transparent),color-stop(100%,transparent)); background: -webkit-linear-gradient(45deg,#b73742 0,transparent 100%); background: -o-linear-gradient(45deg,#b73742 0,transparent 100%); background: -ms-linear-gradient(45deg,#b73742 0,transparent 100%); background: linear-gradient(45deg,#b73742 0,transparent 100%); -webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease; transition: all .5s ease;content: '';position: absolute;width:0;height: 100%;top: 0;left: 0;right: 0;bottom: 0;}
  .homediscover:hover:after {opacity: 0.7; width:100%;}
  .homepdlist .content-sec { padding-top: 90px;}
  .homediscover .content-sec {padding-top: 164px;}
  .homecategory .content-sec {padding-top: 80px;}
  .homecategory .content-sec .category-circle {margin-top:80px;}
  .homeVideo iframe {width: 100% !important; height: 664px !important}
   .left-static { bottom: -130px; left: 23px;}
}
@media (min-width:1200px) {
	#fp-nav.fp-right {right: 42px;}
	#header {padding-top: 15px;}
	.homeBanner h2 { font-size: 50px;}
  .homeBanner h3 { font-size: 22px;color: #fff;text-transform: uppercase;}
	.outer-container,.banner-container,.homeBanner .fp-slidesNav { padding-left: 100px; padding-right: 100px }
	.section .title { font-size: 36px; line-height: 40px;}
	.section .parainfo {font-size: 16px; line-height: 24px;}
	.btn { padding: 7px 40px 5px 15px;}
	.btn::after {right: 20px; top: 17px; background-size: 14px; right: 14px; top: 11px;width: 14px;height: 10px;}
	#footer p {font-size: 12px;}
	.homeBanner .bannertxt {width: 85%; padding-top: 268px}
	.homeBanner .fp-slidesNav.fp-bottom { bottom: 165px;}
	.homeGetTouch .secright .btn {padding: 13px 101px 12px 20px;}
	.homeGetTouch .secright .btn::after {background-image: url(../images/arrow-grey.png);width: 21px;height: 15px;background-size: 21px;right: 25px;top: 17px;}
	.botmlayoutsec {margin-left: -11px;margin-right: -11px;}
	.botmlayout .box {padding:0 11px; }
	.botmlayout .box figure { min-height: 139px; padding: 4px }
	.botmlayout .box figure .xs-icon {width: 37px; height: 37px; }
	.botmlayout .box figure ul li { padding:15px 0; }
	.botmlayout .box figure ul li:first-child { padding-top: 5px }
	.botmlayout .box figure ul li:last-child {padding-bottom: 5px }
	.botmlayout .box figure .sm-icon { width: 48px; height: 48px;}
	.botmlayout .box figure .sm-icon, .botmlayout .box figure .xs-icon {border: 3px solid rgba(0,0,0,0.1);}
	.homeGetTouch .secleft .img-grid, .homeGetTouch .secleft .img-grid ul {height: 100%}
  .homepdlist .content-sec { padding-top: 138px;}
  .homediscover .content-sec {padding-top: 234px;}
  .homecategory .content-sec {padding-top: 160px;}
  #fp-nav ul li a.active span { margin: -11.5px 0 0 10.5px;}
  .homeVideo iframe {width: 100% !important; height: 100% !important}
  .homecategory .content-sec .category-circle {margin-top:40px;}
  .homepdlist-tab .resp-tabs-container {margin-top: 25px;}
  .homelist-box figure .box-layout figcaption {padding: 10px;}
  .homeGetTouch .secright .botm-logo { margin: 45px auto 0;}
  .homeGetTouch .secright .content-sec .box-wrap { padding-bottom: 25px;}
  .homeGetTouch .secright .content-sec { padding: 220px 124px 60px 61px;}
  #header .logo { margin-top: -29px;}
  .search-layout {width: 702px; height: 55px; padding: 6px;}
  .search-layout .search-group input[type="text"] {font-size: 16px;}
  .homelist-box figure .box-layout figcaption h3 {font-size: 15px;}
  .homeBanner .content-sec {padding-top: 120px;}
  .homeBanner .category-circle {margin-top: 20px}
  #header nav ul li {margin-left: 15px}
  .homepdlist-tab .resp-tabs-list li {font-size:15px; padding: 7px 15px;}
  .homepdlist-tab .resp-tab-active { padding: 4px 14px 10px 14px !important;}
  .left-static { bottom: -365px; left: 44px;}
  .search-layout .search-group .dropdown select {padding: 12px 30px 13px 10px;}
}
@media (min-width:1360px) {
	.botmlayout .box figure h3,.botmlayout .box figure h5 { font-size: 15px;}
	.botmlayout .box figure .xs-icon {width: 43px; height: 43px; }
	.botmlayout .box figure { min-height: 155px;  padding: 7px}
	.botmlayout .box figure .sm-icon { width: 66px; height: 66px;}
  .homeVideo iframe {width: 1366px !important; height: 768px !important}
}
@media (min-width:1440px) {
	#fp-nav.fp-right {right: 75px;}
	#header {padding-top: 22px;}
	#fp-nav ul li a span, #fp-nav ul li:hover a span { height: 17px;width: 17px; margin: -8.5px 0 0 -8.5px;}
  #fp-nav ul li:hover a.active span {width: 3px;border-radius: 0;height: 25px;margin: -8.5px 0 0 -1.5px;}
	#fp-nav ul li { width: 17px; height: 17px; margin: 28px 7px;}
	.outer-container,.banner-container,.homeBanner .fp-slidesNav { padding-left: 170px; padding-right: 170px }
	.section .title { font-size: 68px; font-weight: 700; line-height: 60px; margin-bottom: 10px}
	.section .parainfo {font-size: 20px; line-height: 28px;}
	.btn { padding: 15px 64px 12px 21px;}
	.btn::after {right: 20px; top: 17px; width:17px; height: 12px; background-size: 17px}
	.homeBanner .fp-slidesNav.fp-bottom { bottom: 225px;}
	.homeBanner .bannertxt {width: 65%; padding-top: 392px}
	#footer p {font-size: 14px;}	
	.homeGetTouch .secright .content-sec { padding: 300px 144px 60px 61px;}
	.homeGetTouch .secright .botm-logo { margin: 90px auto 0;}
	.botm-links ul li a {font-size: 16px;}
	.botm-links ul li::after {margin: 0 22px;}
	.homeGetTouch .secright .botm-copyright {padding: 32px 0;}
	.blognews-grid article figure .leftpart,.blognews-grid article figure .rightpart { width: 50%;}
	.homeGetTouch .secright .btn {padding: 19px 180px 18px 28px;}
	.homeGetTouch .secright .btn::after {width: 29px; height: 21px; background-size: 29px; right: 27px; top: 20px;}
	.botmlayoutsec {margin-left: -21px;margin-right: -21px;}
	.botmlayout .box {padding:0 21px; }
	.botmlayout .box figure { min-height: 233px; padding: 15px }
	.botmlayout .box figure .xs-icon {width: 59px; height: 59px; }
	.botmlayout .box figure ul li { padding:27px 0; }
	.botmlayout .box figure ul li:first-child { padding-top: 15px }
	.botmlayout .box figure ul li:last-child {padding-bottom: 15px }
	.botmlayout .box figure .sm-icon { width: 86px; height: 86px;}
	.homeGetTouch .secright .botm-copyright {bottom: 0;}
	.botmlayout .box figure .sm-icon, .botmlayout .box figure .xs-icon {border: 6px solid rgba(0,0,0,0.1);}
	.homeGetTouch .secleft .img-grid, .homeGetTouch .secleft .img-grid ul {height: 100%}
	.botmlayout .box.timebox figure ul li:last-child h3::before {  margin-right: 7px}
	.botmlayout .box.timebox figure ul li:last-child h3::after {  margin-left: 7px}
  .homepdlist .content-sec { padding-top: 268px;}
  .homediscover .content-sec { padding-top: 414px;}
  .homecategory .content-sec {padding-top: 230px;}
  #fp-nav ul li a.active span {margin: -8.5px 0 0 -1.5px;}
  .homeVideo iframe {width: 1440px !important; height: 900px !important}
  .homecategory .content-sec .category-circle { margin-top: 50px;}
  .homepdlist-tab .resp-tabs-container {margin-top: 40px;}
  #header .logo { margin-top: -42px;}
  .search-layout {width: 702px; height: 80px; padding: 10px;}
  .category-circle figure { width: 180px; height: 180px;padding: 6px;}
  .category-circle figure .circle-layout {width: 168px; height: 168px;}
  .category-circle .owl-item .item h3 { font-size: 22px;}
  .search-layout .search-group input[type="text"] {font-size: 18px;}
  .homelist-box figure .box-layout figcaption h3 {font-size: 18px;}
  .homeBanner .content-sec {padding-top: 190px;}
  .homeBanner .category-circle {margin-top: 40px}
  #header nav ul li {margin-left: 30px}
  #header nav ul li a { font-size: 14px;}
  .btn.pub-list,#header .headerright .inline-elmnt .logbtn {font-size: 15px;}
  #header .headerright .inline-elmnt {margin-left: 15px;}
  .homepdlist-tab .resp-tabs-list li {font-size: 20px; padding: 13px 15px;}
  .homepdlist-tab .resp-tab-active { padding: 12px 14px 14px 14px !important;}
  .homeBanner h3 { font-size: 48px;color: #fff;text-transform: uppercase;}
  .homeBanner h6 { font-size: 18px;}
  .homeBanner h4 {font-size: 31px; margin-bottom: 10px}
  .left-static { bottom: -473px; left: 64px;}
  .search-layout .search-group .dropdown select {padding: 21px 30px 21px 10px;}
}
@media (min-width:1600px) {
  .homeVideo iframe {width: 100% !important; height: 900px !important}
}
@media (min-width:1920px) {
  .homeVideo iframe {width: 1920px !important; height: 1080px !important}
}
